* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: Arial, Helvetica, sans-serif;

    
}

/* NAVBAR */
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;

    display: flex;
    align-items: center;
    padding:  0 30px;
    justify-content: space-evenly;
}

/* LEFT SECTION */
.nav-left {
    display: flex;              /* THIS makes them side-by-side */
    align-items: center;
    gap: 20px;                  /* space between logo and delivery */
}

/* LOGO */
.nav_logo {
    height: 40px;
    width: 120px;
    margin-right: 40px;
    
}

.logo {
    background-image: url("logo.png");
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* DELIVERY */
.nav-address {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.border{
   
    border: 2px solid transparent;
    cursor: pointer;
    /* transition: 0.2s ease-in-out; */
}
.border:hover{
    border: 2px solid white;

    border-radius: 4px;
}

.add1 {
    font-size: 12px;
    color: #cccccc;
}

.add-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.add2 {
    font-size: 14px;
}
.nav-search
{
    display: flex;
    justify-content: space-evenly;
    background-color: orange;
    width: 600px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange ;
}
.search-select{
    background-color:#f3f3f3 ;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content:center ;
    align-items: center;
    font-size: 1.2 rem;
    background-color: #febd68;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #0f1111;
}




.nav-singin span,
.nav-return span
{ 
    display: flex;
    font-size: 12px;
    justify-content: space-evenly;
    align-items: center;
    
}
.nav2{
    
    font-size: 0.90rem;
    font-weight: 700;
}

.nav-singin p,
.nav-return p
{
    margin-left: 20px;
    margin-right: 20px;
}
.nav-cart i{
    font-size: 25px;
    margin-left: 20px;
    


}
.panel{
    height: 35px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin: 20px; ;
    
}
.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.85rem;
    font-weight:700 ;
}
.main{
    background-image: url(b1.png);
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.main-mes{
    background-color: white;
    color: black;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 25px;
}
.main-mes a{
    color: #007185;

}
.shop-section {
  display: flex;
  flex-wrap: wrap;              
  justify-content: space-evenly; 
  background-color: #222f3d;
  padding: 20px 0;
}


.box {
  flex: 1 1 22%;                
  max-width: 23%;              
  min-width: 200px;             
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;       
  justify-content: space-between;
}


.box-content {
  margin: 0 1rem;
}

.box-content h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.box-content a{
  color: #007185;
  font-size: 0.9rem;
}


.box-img {
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 1rem;
}
.footer-panel{
    height: 30px;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 0.85rem;
}
.footer-panel1{
    background-color: #222f3d;
    color: #ffffff;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
ul p{
margin-top: 15px;
}
ul a{
    display: block;
    color: #cadde1;
    margin:  20px ;
    font-size: 0.90remj;
}
.footer-panel2{
    border-top: 2px solid grey;
    background-color:#222f3d;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
   background-image: url("logo.png");
    background-size: cover;
    height: 50px;
    width: 150px; 
}
.footer-panel3{
    background-color: #0f1111;
    color: white;
    
    height: 100px;

}
.pages
{
    font-size:0.7rem;
    text-align: center;
    padding-top: 30px;
}
.copy{
    font-size:0.7rem ;
    text-align: center;
    padding-top: 4px;
}